modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BNPGiVlKmpMBohqe5JN5X-IIC_PB3llnzs4NQi_O0nG6sa9K8i67LqQryV8IsdoP6ggXI5iT9BytPvT8-j3i-5k"
VAPID_PRIVATE_KEY = "gV21By4xvrnSzSiokppLpi4yc17Ro3rf7-zQDLvaU1w"
VAPID_EMAIL = "mailto:contact@cpecdigital.replit.app"
DEV_MASTER_KEY = "CPEC@Dev2025#Secure!"
