modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev & PORT=25391 BASE_PATH=/ pnpm --filter @workspace/cpec-u run dev"
waitForPort = 25391

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 25391
externalPort = 3000

[[ports]]
localPort = 25392
externalPort = 3001

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BHHazkNQmN3RM5QuTCE2WC0jO2Zni5JqKV51q9JiO-p-pq2EwcmKSMELstLxeXNT1aEwty0aHLhcip9C6T0g0lM"
VAPID_PRIVATE_KEY = "pBKI2H18JcjGbVYRtmGjqZh4BBsM3ldIGuJ6x89xMlM"
VAPID_EMAIL = "mailto:admin@cpec-u.fr"
